.sizeLabel {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.sizeOption {
  width: 40px;
  height: 40px;
  border: 2px solid #171718;
  border-radius: 50%;
  background-color: #171718;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

.sizeOption:hover {
  background-color: #404040;
}

.sizeOption:active {
  transform: scale(0.9);
}

.quantityField {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 0px;
}

.quantityLabel {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}
.form-control {
  max-width: 50px;
}
.quantityInput {
  text-align: center;
}

.quantityInput::-webkit-inner-spin-button,
.quantityInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.form-control:focus {
  background-color: #fff;
  border-color: #333;
  outline: 0;
  box-shadow: none !important;
}

.cartButton {
  display: flex;
  position: relative;
  width: 200px;
  height: 62px;
  border: 0;
  border-radius: 10px;
  background-color: #171718;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.cartButton:hover {
  background-color: #404040;
}

.cartButton:active {
  transform: scale(0.9);
}

.cartButton .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

.cartButton .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 0.875rem;
  transform: translate(-50%, -50%);
}

.cartButton span {
  position: absolute;
  left: 50%;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cartButton span.addToCart {
  opacity: 1;
}

.cartButton span.added {
  opacity: 0;
}

.cartButton.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}

.cartButton.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}

.cartButton.clicked span.addToCart {
  animation: txt1 1.5s ease-in-out forwards;
}

.cartButton.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }

  40%,
  60% {
    left: 50%;
  }

  100% {
    left: 110%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }

  60% {
    top: 40%;
    left: 52%;
  }

  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }

  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
